main {
  margin: 10%;
  margin-bottom: 0;
  margin-left: 15%;
  margin-right: 15%;
}
h1, p {
  color: white;
}
input {
  margin: 0 auto;
  margin-bottom: 20px;
}
#results {
  margin: 0 auto;
}
.results {
  color: green !important;
  font-weight: bold;
}
.error {
  color: red !important;
  font-weight: bold;
}
a {
  color: white;
  text-decoration: none;
}
footer {
  margin-top: 100px;
}
@media (max-width: 700px) {
  
}